@import "media.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
}

.center {
    width: 100%;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    padding: 18px 0 19px 0;
    display: flex;
    min-height: 75px;
    background-color: #222222;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__side-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
}

.top {
    min-height: 764px;
    background-color: #F1E4E6;
}
.top__content {
    display: flex;
    justify-content: space-between;
}
.top__img {
    /* -200 - это обрезка пустого пространства фотографии */
    margin: 0 -200px;
    max-height: 764px;
}
.top__slogan {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.top__slogan-text {
    color: #222;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.top__slogan .top__title-upper-line {
    font-size: 48px;    
}
.top__slogan  .pink {
    color: #F16D7F;
}
.categories {
    margin: 65px 0 110px 0;
}
.categories__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.categories__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 260px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.categories__item span {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 500;
}

.categories__item:nth-child(1) {
    background: url("../img/category1.jpg");
    background-size: 100% 100%;
}
.categories__item:nth-child(2) {
    background: url('../img/category2.jpg');
    background-size: 100% 100%;
}
.categories__item:nth-child(3) {
    background: url('../img/category3.jpg');
    background-size: 100% 100%;
}
.categories__item_big {
    width: 1140px;
    height: 180px;
    grid-column: span 3;
    background: url('../img/category-big.jpg');
    background-size: 100% 100%;
}

.items {
    margin: 10px 0 60px;

}
.items__title {
    color: #222;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: normal;
}

.items__description {
    margin-top: 8px;
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.items__grid {
    margin-top: 73px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}


.button__browse {
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 60px;
    width: fit-content;
    color: #F26376;
    background-color: white;
    font-size: 16px;
    padding: 15px 39px;
    border: 1px solid #F26376;
    display: flex;
    justify-content: center;
}

.button__browse:hover {
    color: white;
    background-color: #F26376;
}

.item {
    background-color: #F8F8F8;
    width: 360px;
}

.item__data {
    padding: 24px 16px;
}

.item__title {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item__desc {
    margin-top: 16px;
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.item__price {
    margin-top: 16px;
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }
    .header__content {
        margin: 0 42px 0 32px;
    }
    .top {
        min-height: 368px;
        background-color: #F1E4E6;
    }

    .top__content {
        margin: 0 34px;
    }
    .top__img {
        margin: 0;
        max-height: 368px;
    }

    .top__slogan {
        width: 300px;
    }

    .top__slogan-text {
        font-size: 20px;
    }

    .top__slogan-text .top__title-upper-line {
        font-size: 44px;
    }
    
    .categories {
        /* min-height: 448px; */
        margin: 65px 16px 110px 16px;
    }
    .categories__grid {
        grid-template-columns: repeat(3, 232px);
        justify-items: center;
        gap: 20px;
    }
    .categories__item {
        width: 232px;
        height: 167px;   
    }
  
    .categories__item_big {
        width: 735px;
        height: 116px;
    }
    
    .items__grid {
        margin-left: 16px;
        margin-right: 16px;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    } 

    .item__data {
        padding: 24px 16px;
    }
    
    .button__browse {
        width: 212px;
        margin-top: 32px;
    }   
}