a {
    text-decoration: none;
}

.menu__links {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.title {
    color: #222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
}

/*применяется к h2*/
.subtitle {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

/*применяется к h4*/
.food__name {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 10px;
}